*, *::after, *::before {
    box-sizing: border-box;
}

.welcome2 {
    /* position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -25%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 50;
    background-color: white;
    width: 700px;
    height: 300px;
    max-width: 80%;
    max-height: 80%;
    font-size: 20px; */

    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -25%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 50;
    background-color: white;
    width: 900px;
    height: 400px;
    max-width: 80%;
    max-height: 80%;
    font-size: 20px;
}

.welcome2.welcome2_EN{
    font-family:  Arial;
}

.welcome2.welcome2_CH{
    font-family:  'lihei-Pro',Arial, Helvetica, sans-serif !important;
}

.welcome2.active {
    transform: translate(-50%, -25%) scale(1);
}

.welcome2-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    /*font-family: Arial, Helvetica, sans-serif;*/
}

.welcome2-header .title2 {
    font-size: 1rem;
    font-weight: bold;
    color: black;
    /*font-family: Arial, Helvetica, sans-serif;*/

}

.welcome2-header .close-button2 {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #989898;
    position: absolute;
    right: 10px;
    z-index: 999;
}

.welcome2-body {
    /* color: rgb(105, 118, 128);
    padding: 3% 5%;
    height: calc(100% - 50px);
    overflow: visible;
    position: relative; */

    color: rgb(105, 118, 128);
    padding: 3% 5%;
    height: calc(100% - 50px);
    overflow: visible;
    position: relative;
}

.welcome2-content{
    /* padding: 0 2.5%;
    width: 80%;
    overflow: auto;
    height: calc(100% - 40px); */

    padding: 0 2.5%;
    width: 60%;
    overflow: auto;
    height: calc(100% - 68px);
}

.operation2{
    /* color: rgb(105, 118, 128);
    padding-top: 2%;
    width: 100%;
    margin: auto;
    padding-bottom: 1%;
    padding-right: 35%;
    border-top: 1px solid rgb(208, 209, 213);
    display: flex;
    font-size: 20px;
    justify-content: space-between; */

    color: rgb(105, 118, 128);
    position: absolute;
    bottom: 8%;
    padding-top: 2%;
    width: 49%;
    margin: 0 20px;
    padding-bottom: 1%;
    border-top: 1px solid rgb(208, 209, 213);
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}

.operation2Left,.operation2Right{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.operation2Right p{
    display: inline-block;
    width: 100%;
}

.operation2 img{
    height: 26px;
}

.hello{
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 5.5%;
}

.lan_EN .hello{
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 2%;
}

.welcome2-text{
    font-size: 20px;
    line-height: 32px;
}

.lan_EN .welcome2-text{
    font-size: 17px;
    line-height: 28px;
}

.welcome2-gif{
    position: absolute;
    /*width: 420px;*/
    width:48%;
    bottom: -90px;
    right: -70px;
}

.welcome2-btn{
    position: absolute;
    bottom: 10%;
    left: 20%;
    cursor: pointer;
}

.welcome2Start{
    margin-left: 84.5%
}

.welcome2-body .block {
    margin-bottom: 10px;
    padding: 0px;
    line-height: 150%;
    font-size: 17px;
}

.welcome2-body .branding {
    display: block;
    margin: auto;
    max-width: 100%;
}

.welcome2-body .heading {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome2-body .para {
    margin-bottom: 10px;
    line-height: 150%;
}

.welcome2-body .nav-bar {
    display: block;
    margin: 30px auto;
    max-width: 100%;
}

.welcome2-body .nav-item {
    display: block;
    margin: auto;
    max-width: 100%;
}

.welcome2-body .icon-box {
    display: flex;
    align-items: center;
    line-height: 150%;
}

.welcome2-body .icon-img {
    margin-right: 10px;
}

.welcome2-body .horizontal-rule {
    margin-top: 30px;
    margin-bottom: 40px;
}

#overlay-welcome2 {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 40;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay-welcome2.active {
    opacity: 1;
    pointer-events: all;
}

@media screen and (max-width:1024px) {
    .operation2Left{
        width: 48%;
    }
    .operation2Right{
        width: 120%;
    }
    .welcome2-content{
        /* width: 100%; */
        width: 65%;
    }
    .operation2{
        /* width: 100%; */
        width: 52.5%;
    }
}

@media screen and (max-width:820px) {
    .welcome2-body{
        padding: 13px 18px;
        height: calc(100% - 30px);
    }
     .welcome2-content{
        /* width: 100%; */
        width: 68%;
     }
     .operation2{
        /* width: 100%; */
         width: 59%;
         margin: 0 10px;
     }
     .welcome2-gif{
         position: absolute;
         bottom: -44px;
         right: -64px;
     }
     .welcome2Start{
         margin-left: 77%;
     }
     .lan_EN .welcome2-text{
         line-height: 28px;
     }
}

@media screen and (max-width: 428px) {
    .welcome2{
        top: 40%;
        height: 530px;
    }
    .welcome2-body{
        padding: 13px 18px;
        height: calc(100% - 30px);
    }
    .welcome2-content{
        width: 100%;
        padding: 114px 10px 0;
    }
    .operation2{
        width: 100%;
        margin: 0 3%;
        font-size: 18px;
        padding-top: 3%;
    }
    .operation2 img{
        height: 20px;
    }
    .welcome2-gif{
        position: absolute;
        width: 260px;
        top: -118px;
        left: -38px;
    }
    .welcome2Start{
        margin-left: 74%
    }
    .lan_EN .welcome2-text{
        line-height: 25px;
    }
    .welcome2-text{
        font-size: 18px;
    }
}
@media screen and (max-width: 414px) {
    .welcome2{
        top: 40%;
        height: 530px;
    }
    .welcome2-body{
        padding: 13px 18px;
        height: calc(100% - 30px);
    }
    .welcome2-content{
        width: 100%;
        padding: 114px 10px 0;
    }
    .operation2{
        width: 83%;
        /* width: 100%; */
        margin: 0 3%;
        font-size: 18px;
        padding-top: 3%;
    }
    .operation2 img{
        height: 20px;
    }
    .welcome2-gif{
        position: absolute;
        width: 260px;
        top: -118px;
        left: -38px;
    }
    .welcome2Start{
        margin-left: 74%
    }
    .lan_EN .welcome2-text{
        line-height: 25px;
    }
    .welcome2-text{
        font-size: 18px;
    }
}
@media screen and (max-height: 700px) {
    .welcome2{
        top: 30%;
    }
    .hello{
        font-size: 50px;
        line-height: 35px;
    }
    .welcome2-content{
        /* width: 100%; */
        width: 73%;
    }
    .lan_EN .welcome2-content{
        /* width: 100%; */
        width: 75%;
    }
    .welcome2-body{
        padding: 0 5%;
    }
    .lan_EN .welcome2-text{
        line-height: 25px;
    }
    .operation2 img{
        height: 22px;
    }
    .welcome2-text{
        font-size: 19px;
    }
    .welcome2Start{
        margin-left: 74%;
    }
}

@media screen and (max-height: 428px) {
    .hello{
        font-size: 40px;
        line-height: 40px;
    }
    .lan_EN .welcome2-text {
        line-height: 22px;
    }
    .welcome2-text{
        font-size: 18px;
    }
    .operation2{
        font-size: 16px;
        width: 62%;
    }
    .operation2 img {
        height: 18px;
    }
    .welcome2-gif{
        width: 40%;
        bottom: -32px;
        right: -62px;
    }
    .welcome2Start {
        margin-left: 78%;
    }
}
@media screen and (max-width: 390px) {
    .welcome2{
        top: 40%;
        height: 470px;
    }

    .welcome2-body{
        padding: 13px 18px;
        height: calc(100% - 30px);
    }
    .welcome2-content{
        width: 100%;
        padding: 66px 10px 0;
    }
    .lan_EN .welcome2-content{
        width: 100%;
        /*padding: 66px 10px 0;*/
    }
    .operation2{
        font-size: 16px;
    }
    .operation2 img{
        height: 20px;
    }
    .welcome2-gif{
        position: absolute;
        width: 210px;
        top: -104px;
        left: -35px;
    }
    .welcome2Left span{
        width: 80%;
        display: inline-block;
    }
    .welcome2Right span{
        text-align: right;
        width: 80%;
        display: inline-block;
    }
    .hello{
        font-size: 48px;
        line-height: 48px;
    }
    .welcome2-text{
        font-size: 16px;
    }
}
@media screen and (max-width: 320px) {
    .welcome2-gif{
        width: 160px;
        top: -80px;
        left: -32px;
    }
    .welcome2-content{
        padding:38px 6px 0;
    }
    .hello{
        font-size: 40px;
        line-height: 40px;
    }
    .welcome2-text{
        font-size: 15px;
    }
    .lan_EN .welcome2-text{
        line-height: 24px;
    }
    .operation2{
        font-size: 12px;
    }
    .operation2 img{
        height: 14px;
    }
}

.lan_EN .operation2Left{
    font-size: 17px;
}

.lan_EN .welcome2-content{
    font-size: 18px;
}